.todo {
  align-items: center;
  background: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0.7rem;
}

.todo-content {
  display: flex;
  /* gap: 1rem; */
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  margin-right: auto;
  margin-left: 10px;
}

.todo-content-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todo-text {
  color: #585858;
  font-size: 1rem;
  font-weight: 500;
  word-break: break-all;
}

.timestamp {
  color: #585858;
  font-size: 0.87rem;
  font-weight: 100;
  margin-top: 0.2rem;
  display: flex;
  align-self: baseline;
}

.todo-btn-container {
  display: flex;
}

.delete,
.modify {
  margin: 0rem 0.2rem;
  height: 2rem;
  font-family: Poppins, sans-serif;
  padding: 0rem 0.2rem;
}

.todo-checkbox {
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-basis: 25px;
  flex-shrink: 0;
  height: 25px;
  justify-content: center;
  padding: 5px;
  background: rgb(222, 223, 225);
  transition: background-color .3s ease;
}

.task-completed {
  opacity: .7;
  text-decoration: line-through;
}